html {
    font-family:"Comic Sans MS", "Comic Sans", cursive;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    color: black;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid #BFD641;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

/*--------------------------------------------------------------
# General Styles
--------------------------------------------------------------*/
html,
body {
    min-height: 100%;
}

body {
    font-family: "Merriweather", serif;
    color: #2E4A62;
    background: #f7f7f7;
}

h1,
h2,
h3 {
    font-family: "Raleway", sans-serif;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

p,
li {
    font-weight: 300;
    font-size: 1em;
    line-height: 26px;
}

input,
textarea {
    font-family: "Merriweather", serif;
}

/*--------------------------------------------------------------
# Scaffolding
--------------------------------------------------------------*/
.container {
    display: block;
    position: center;
    margin: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 960px;
    padding: 0 50px;
}

.row {
    position: center;
    margin: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: auto;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.column, .col-one, .col-one-half, .col-lg-one-half, .col-md-one-half, .col-one-third, .col-lg-one-third, .col-md-one-third, .col-two-thirds, .col-lg-two-thirds, .col-md-two-thirds, .col-one-fourth, .col-md-one-fourth, .col-three-fourths {
    display: inherit;
    position: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 1px;
    margin: auto;
}

@media (max-width: 640px) {
    .column, .col-one, .col-one-half, .col-lg-one-half, .col-md-one-half, .col-one-third, .col-lg-one-third, .col-md-one-third, .col-two-thirds, .col-lg-two-thirds, .col-md-two-thirds, .col-one-fourth, .col-md-one-fourth, .col-three-fourths {
        -webkit-box-flex: 0 !important;
        -webkit-flex: 0 0 100% !important;
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}

.col-one {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.col-one-half, .col-lg-one-half, .col-md-one-half {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.col-one-third, .col-lg-one-third, .col-md-one-third {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66666%;
    -ms-flex: 0 0 66.66666%;
    flex: 0 0 66.66666%;
    max-width: 66.66666%;
}
}

.col-two-thirds, .col-lg-two-thirds, .col-md-two-thirds {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66666%;
    -ms-flex: 0 0 66.66666%;
    flex: 0 0 66.66666%;
    max-width: 66.66666%;
}

.col-one-fourth, .col-md-one-fourth {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.col-three-fourths {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}

@media (max-width: 960px) {
    [class^="col-lg"] {
        -webkit-box-flex: 0 !important;
        -webkit-flex: 0 0 100% !important;
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}

@media (max-width: 875px) {
    [class^="col-md"] {
        -webkit-box-flex: 0 !important;
        -webkit-flex: 0 0 100% !important;
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}

.offset-one-fourth {
    margin-left: 25%;
}

@media (max-width: 640px) {
    .offset-one-fourth {
        margin-left: 0;
    }
}

.md-offset-one-half {
    margin-left: 50%;
}

@media (max-width: 875px) {
    .md-offset-one-half {
        margin-left: 0;
    }
}

/*--------------------------------------------------------------
# Form Styles
--------------------------------------------------------------*/
form {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}

.input-container {
    position: center;
    z-index: 1;
    margin-bottom: 15px;
}

.input-container::before {
    content: " ";
    position: center;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: yellow;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform .15s ease;
    transition: -webkit-transform .15s ease;
    -o-transition: transform .15s ease;
    transition: transform .15s ease;
    transition: transform .15s ease, -webkit-transform .15s ease;
    z-index: 2;
}

.input-container::after {
    content: " ";
    position: center;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: grey;
    z-index: 1;
}

.input-container label {
    position: center;
    top: 8px;
    left: 5px;
    pointer-events: none;
    -webkit-transition: all .15s ease;
    -o-transition: all .15s ease;
    transition: all .15s ease;
}

.input-container.active::before {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

.input-container.active label {
    -webkit-transform: translateY(-15px) translateX(-12px) scale(0.65);
    -ms-transform: translateY(-15px) translateX(-12px) scale(0.65);
    transform: translateY(-15px) translateX(-12px) scale(0.65);
}

label {
    font-size: 15px;
    margin-bottom: 5px;
    color: #944743;
}

input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    padding: 7px 0 7px 7px;
    font-size: 15px;
    border: none;
    background: #F0F8FF;
}

input:focus {
    outline: block;
}

textarea {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    padding: 5px 0 5px 5px;
    min-height: 125px;
    font-size: 15px;
    border: none;
    background: transparent;
}

textarea:focus {
    outline: block;
}

/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
.button {
    position: relative;
    display: inline-block;
    color: #ffffff;
    padding: 12px 20px;
    background: #13314D;
    border: none;
    margin: 0;
    text-decoration: none;
    -webkit-transition: background .25s ease;
    -o-transition: background .25s ease;
    transition: background .25s ease;
}

.button:hover {
    background:   #005960;
}

.button.block {
    display: block;
    padding: 12px 0;
    text-align: center;
    text-decoration: none;
}

button.button.block {
    width: 100%;
}

.button.large-button {
    padding: 18px 30px;
}

/*--------------------------------------------------------------
# Masthead
--------------------------------------------------------------*/
.masthead {
    position: relative;
    overflow: hidden;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 600px;
}

.masthead::before { 
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #005960;
    opacity: 0.55;
    z-index: 2;
}

.masthead a {
    color: #944743;
    text-decoration: none;
}

.masthead a:hidden, .masthead a:active, .masthead a:focus, .masthead a:link, .masthead a:visited {
    color: #944743;
    text-decoration: none;
}

.masthead-short {
    position: relative;
    overflow: hidden;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 350px;
}

.masthead-short::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.55;
    z-index: 2;
}

.masthead-short a {
    color: #944743;
    text-decoration: none;
}

.masthead-short a:hover, .masthead-short a:active, .masthead-short a:focus, .masthead-short a:link, .masthead-short a:visited {
    color: #944743;
    text-decoration: none;
}

/*For giant screens*/
@media (min-width: 1800px) {
    .masthead {
        height: 900px;
    }

    .masthead-short {
        height: 500px;
    }
}

.main-heading-container {
    position: relative;
    display: block;
    max-width: 100%;
    padding: 20px 50px;
    background: rgba(255, 255, 255, 0.9);
    z-index: 0;
}

.main-heading-container::before {
    content: " ";
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
}

.main-heading-container h1 {
    font-weight: 300;
    text-transform: uppercase;
    position: relative;
    margin: 0 0 10px 0;
    z-index: 1;
}

.main-heading-container h2 {
    font-weight: 300;
    position: relative;
    margin: 0;
    z-index: 1;
}

@media (max-width: 640px) {
    .main-heading-container {
        margin: 0 5px;
    }
}

.parallax-container {
    background: url("../img/mop.jpeg");
}

@media (max-width: 875px) {
    .parallax-container {
        background-position: center;
    }
}

.parallax-bg {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    pointer-events: none;
    z-index: 1;
}

@media (max-width: 875px) {
    .parallax-bg {
        display: none;
    }
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
.nav {
    position: absolute;
    z-index: 500;
    top: 5px;
    left: 0;
    width: 100%;
    background: transparent;
    -webkit-transition: background .25s ease;
    -o-transition: background .25s ease;
    transition: background .25s ease;
}

.nav .nav-items {
    position: relative;
    padding: 0;
    list-style: none;
    display: inline-block;
    margin: 0 auto;
}

.nav .nav-items li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.nav .nav-items li > a {
    display: block;
    position: relative;
    padding: 40px 35px;
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: padding .25s ease;
    -o-transition: padding .25s ease;
    transition: padding .25s ease;
}

.nav .nav-items li > a::before {
    content: " ";
    position: absolute;
    top: 75%;
    left: 0;
    right: 0;
    height: 2px;
    background: #ffffff;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 0.15s ease;
    transition: -webkit-transform 0.15s ease;
    -o-transition: transform 0.15s ease;
    transition: transform 0.15s ease;
    transition: transform 0.15s ease, -webkit-transform 0.15s ease;
}

.nav .nav-items li > a:hover::before {
    -webkit-transform: scaleX(0.45);
    -ms-transform: scaleX(0.45);
    transform: scaleX(0.45);
}

.nav.scrolled {
    background: #D2691E;
    position: fixed;
    top: 0;
}

.nav.scrolled .nav-items li > a {
    padding: 25px 35px;
}

/*
@media(max-width: $tablet){
	.nav,
	.nav.scrolled {
		.nav-items{
			li > a {
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}
}*/
@media (max-width: 640px) {
    .nav,
  .nav.scrolled {
        top: 0;
        background: #E94B3C;
    }

    .nav .nav-items,
    .nav.scrolled .nav-items {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        background: #E94B3C;
        max-height: 0;
        overflow: hidden;
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }

    .nav .nav-items li,
      .nav.scrolled .nav-items li {
        display: block;
    }

    .nav .nav-items li > a,
      .nav.scrolled .nav-items li > a {
        padding: 25px 20px;
    }

    .nav .nav-items li > a:hover::before,
        .nav.scrolled .nav-items li > a:hover::before {
        -webkit-transform: scaleX(0.15);
        -ms-transform: scaleX(0.15);
        transform: scaleX(0.15);
    }

    .nav.open {
        position: fixed;
        bottom: 0;
    }

    .nav.open .nav-items {
        display: block;
        z-index: 499;
        max-height: 3000px;
        padding-top: 100px;
        -webkit-transition: max-height 0.25s ease, padding 0.25s ease;
        -o-transition: max-height 0.25s ease, padding 0.25s ease;
        transition: max-height 0.25s ease, padding 0.25s ease;
        overflow-y: scroll;
    }
}

.nav-toggle {
    display: none;
    position: relative;
    height: 60px;
    width: 60px;
    padding: 18px 15px;
    border: none;
    background: transparent;
}

.nav-toggle:focus {
    outline: none;
}

.nav-toggle .nav-burger {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 24px;
    background: transparent;
}

.nav-toggle .nav-burger .line {
    position: absolute;
    left: 0;
    width: 30px;
    height: 3px;
    background: #ffffff;
    -webkit-transition: all .15s ease;
    -o-transition: all .15s ease;
    transition: all .15s ease;
}

.nav-toggle .nav-burger .line:nth-child(1) {
    top: 0;
}

.nav-toggle .nav-burger .line:nth-child(2) {
    top: 10.5px;
}

.nav-toggle .nav-burger .line:nth-child(3) {
    top: 21px;
}

.nav.open .nav-toggle .nav-burger .line:nth-child(1) {
    top: 0;
    -webkit-transform: translateY(10.5px) rotateZ(-135deg);
    -ms-transform: translateY(10.5px) rotate(-135deg);
    transform: translateY(10.5px) rotateZ(-135deg);
}

.nav.open .nav-toggle .nav-burger .line:nth-child(2) {
    top: 10.5px;
    opacity: 0;
}

.nav.open .nav-toggle .nav-burger .line:nth-child(3) {
    top: 21px;
    -webkit-transform: translateY(-10.5px) rotateZ(-45deg);
    -ms-transform: translateY(-10.5px) rotate(-45deg);
    transform: translateY(-10.5px) rotateZ(-45deg);
}

@media (max-width: 640px) {
    .nav-toggle {
        display: block;
        z-index: 501;
    }
}

@media (max-width: 640px) {
    .navbar-open-body {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

/*--------------------------------------------------------------
# Front page
--------------------------------------------------------------*/
.intro {
    padding: 50px 0;
}

@media (max-width: 640px) {
    .intro {
        padding: 0;
    }
}

.intro-body {
    min-height: 300px;
    padding: 0 20px;
}

.intro-body h3 {
    font-style: italic;
    font-weight: 200;
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 18px;
}

.intro-body h2 {
    margin-top: 0;
    margin-bottom: 35px;
    font-weight: 200;
    font-size: 32px;
}

@media (max-width: 950px) {
    .intro-body {
        min-height: 0;
        padding: 20px;
    }
}

.intro-image-container {
    min-height: 300px;
}

@media (max-width: 950px) {
    .intro-image-container {
        display: none;
    }
}

.icons {
    padding: 50px 0;
    background: #E94B3C;
    color: #ffffff;
}

.icons .icon-container {
    padding: 20px;
}

.icons .icon-container .fa {
    font-size: 4em;
}

.icons .icon-container h3 {
    margin-top: 25px;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 200;
}

.icons .icon-container p {
    margin-top: 10px;
}

.slider-container {
    min-height: 282px;
    padding-top: 0;
    margin-left: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.slider-container h2 {
    margin: 0;
}

@media (max-width: 960px) {
    .slider-container {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.testimonial-image-container {
    margin-right: 10px;
}

.testimonial-image-container img {
    display: block;
    margin:  auto;
}

@media (max-width: 960px) {
    .testimonial-image-container {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

.testimonials {
    padding: 50px 0;
    overflow: hidden;
}

.testimonials h2 {
    margin-bottom: 0;
    font-size: 28px;
    font-weight: 200;
}

.testimonials .testimonial-slider {
    padding: 0 20px 20px 20px;
}

.testimonials .testimonial-slider .testimonial-slide h3 {
    font-weight: 400;
    font-size: 24px;
    color: #E94B3C;
    margin: 10px 0;
}

.testimonials .testimonial-slider .testimonial-slide blockquote {
    font-style: italic;
    font-weight: 300;
    margin: 15px 0;
}

.explore-services {
    padding: 50px 0;
    background: url("../img/mop.jpeg");
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

.explore-services::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.55;
    z-index: -1;
}

/*--------------------------------------------------------------
# Pages
--------------------------------------------------------------*/
.page-content {
    position: relative;
    padding: 20px;
    margin-top: -75px;
    margin-bottom: 20px;
    background: #ffffff;
    -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.25);
    z-index: 5;
}

@media (max-width: 950px) {
    .page-content {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.sidebar-contact {
    margin: 20px;
    padding: 20px;
    background: #ffffff;
    -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.25);
}

.sidebar-contact header {
    background: #E94B3C;
    padding: 15px 0;
    margin: 0 0 12px 0;
}

.sidebar-contact header h3 {
    color: #ffffff;
    margin: 0;
}

@media (max-width: 950px) {
    .sidebar-contact {
        padding: 20px;
        margin: 20px 0 0 0;
    }
}

/*--------------------------------------------------------------
# Two Column Layout
--------------------------------------------------------------*/
.intro-container {
    padding: 20px 20px 0 20px;
}

.two-column-content {
    padding-bottom: 50px;
}

.two-column-content .row .col-md-one-half:nth-child(1) {
    overflow: hidden;
    padding-right: 10px;
}

.two-column-content .row .col-md-one-half:nth-child(2) {
    padding-left: 10px;
}

@media (max-width: 875px) {
    .two-column-content {
        padding-bottom: 0;
    }

    .two-column-content .row .col-md-one-half:nth-child(1),
    .two-column-content .row .col-md-one-half:nth-child(2) {
        padding: 0;
    }
}

.first-column-content {
    padding: 0 0 20px 20px;
}

.second-column-content {
    padding: 20px;
    background: #ffffff;
    -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.25);
}

@media (max-width: 875px) {
    .first-column-content,
  .second-column-content {
        padding: 20px;
    }
}

.map-container {
    margin-bottom: 12px;
}

.contact-info-container .address,
.contact-info-container .phone,
.contact-info-container .email {
    position: relative;
    display: block;
    margin-left: 30px;
}

.contact-info-container .address .fa,
  .contact-info-container .phone .fa,
  .contact-info-container .email .fa {
    position: absolute;
    top: 0;
    left: -30px;
}

/*--------------------------------------------------------------
# Team Page
--------------------------------------------------------------*/
.team-intro-body {
    padding: 20px;
    margin-top: 20px;
}

.team {
    margin-bottom: 20px;
}

.team h2 {
    margin-top: 35px;
    margin-bottom: 15px;
    font-weight: 200;
    font-size: 32px;
    margin:auto;
}

.team .row {
    padding: 0 20px;
}

@media (max-width: 875px) {
    .team .row {
        padding: 0;
    }
}

.team-member {
    position: inherit;
    max-width: 320px;
    display: block;
    margin:  auto;
    -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.25);
}

.team-member .team-image {
    -webkit-transition: -webkit-filter .3s ease;
    transition: -webkit-filter .3s ease;
    -o-transition: filter .3s ease;
    transition: filter .3s ease;
    transition: filter .3s ease, -webkit-filter .3s ease;
}

.team-member .team-bio {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #13314D;
    /* The Fallback */
    background: rgba(19, 49, 77, 0.85);
    opacity: 0;
    -webkit-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
    padding: 0 20px;
    margin: auto;
}

.team-member .team-bio p {
    color: #ffffff;
}

.team-member:hover .team-bio {
    opacity: 1;
}

.team-member:hover .team-image {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

@media (max-width: 875px) {
    .team-member {
        background: #ffffff;
    }

    .team-member .team-bio {
        position: relative;
        opacity: 1;
        background: transparent;
    }

    .team-member .team-bio p {
        color: #944743;
    }

    .team-member:hover .team-image {
        -webkit-filter: none;
        filter: none;
    }
}

.row .team-member-column:nth-child(1) {
    padding-right: 13.33333px;
}

.row .team-member-column:nth-child(2) {
    padding: 0 6.66667px;
}

.row .team-member-column:nth-child(3) {
    padding-left: 13.33333px;
}

@media (max-width: 875px) {
    .row .team-member-column:nth-child(1) {
        padding: 0;
    }

    .row .team-member-column:nth-child(2) {
        padding: 0;
    }

    .row .team-member-column:nth-child(3) {
        padding: 0;
    }
}

/*--------------------------------------------------------------
# Utility Classes
--------------------------------------------------------------*/
.flex-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.block-center {
    display: block;
    margin: 0 auto;
}

.text-center {
    text-align:  justify;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.img-responsive {
    display: block;
    max-width: 100%;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.main-footer {
    background: #7091af;
    color: #ffffff;
    padding: 50px 0;
}

.main-footer p,
  .main-footer address,
  .main-footer span,
  .main-footer li,
  .main-footer a,
  .main-footer td {
    font-size: 1em;
}

@media (max-width: 875px) {
    .col-md-one-third {
        padding: 0 50px;
    }
}

.hours {
    padding-right: 20px;
}

.hours table {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.footer-contact .address,
.footer-contact .phone,
.footer-contact .email {
    position: relative;
    display: block;
    margin-left: 30px;
}

.footer-contact .address .fa,
  .footer-contact .phone .fa,
  .footer-contact .email .fa {
    position: absolute;
    top: 0;
    left: -30px;
}

.footer-nav ul {
    list-style: none;
    padding-left: 0;
}

.footer-nav ul a {
    color: #ffffff;
    text-decoration: none;
}

.footer-nav ul a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.footer-copyright {
    padding: 10px 0;
    font-size: 1em;
}

.footer-copyright a {
    color: #7091af;
}

/* start reCAPTCHA styles */
/* writes to small text above reCAPTCHA upon failure */
.dateFeedback {
    font-style: italic;
    font-size: 70%;
    font-weight: bold;
    color: #f00;
}

.g-recaptcha {
    margin-bottom: 12px;
}

.sidebar-contact .g-recaptcha {
    -webkit-transform: scaleX(0.79);
    -ms-transform: scaleX(0.79);
    transform: scaleX(0.79);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}

@media (max-width: 875px) {
    .sidebar-contact .g-recaptcha {
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
        transform: scaleX(1);
    }
}
.col-4-of-6 {
    /*    border: 1px solid yellow;*/
    width: 66.13%;
}

@media only screen and (max-width:678px) {
    .col {
        margin: 1% 0 1% 0%;
    }
    .col-4-of-6,
    .col-1-of-6 {
        width: 100%;
    }
}

/* end reCAPTCHA styles */


/*Disclaimer Page*/


/* NOTE ABOUT PAGE*/

#disclaimerPage.masthead {
    display: show;
}

#disclaimerPage .header-content {
    display: show;
}

main#disclaimer {
    padding: 20px 0
}

#disclaimer-note {
    color: #424242;
}

@media (max-width: 678px) {
    main#disclaimer {
        padding: 20px 0;
        height: 380px;
    }
}

@media (max-width: 375px) {
    main#disclaimer {
        padding: 20px 0;
        height: 420px;
    }
}